<br>
<br>
<div class="container padding" align="center" >
  <div class="col-6 col-offset-3" >
   
    <h2 class="page-header">Forgot Password</h2>
      <form (submit)="onForgotSubmit()">
      
                <div class="form-group">
                    <div class="col-6 col-offset-3" >
                        <label>Enter Email</label>
                        <input type="text" [(ngModel)]="email" name="email" class="form-control" >
                  </div>
                </div>
     
        <input type="submit" class="btn btn-primary" value="Reset">
      </form>
      <br>
      <br>
  </div>
</div>