<br>
<br>
<div class="container padding" align="center" >
    <div class="col-6 col-offset-3"  >
      <h2 class="page-header">Change Password </h2>
      <form (submit)="onPasswordChange()">
          <div class="form-group">
              <div class="col-6 col-offset-3" >
                  <label>Password</label>
                  <input type="password" [(ngModel)]="password" name="password" class="form-control">
            </div>
          </div>
          <input type="submit" class="btn btn-success" value="update password">
        </form>
    </div>
  </div>
  <br>
  <br>